* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  /* font-weight: 100; */
  background-color: var(--very-light-grayish-blue);
  /* multiple image on background */
  background-image: url("../images/bg-bottom.svg"), url("../images/bg-top.svg");
  background-position: left bottom, right top;
  background-repeat: no-repeat, no-repeat;
  font-size: var(--base-font-size);
}


/* all font and color variable declare */
:root {
  --very-light-grayish-blue: hsl(240, 78%, 98%);
  --light-grayish-blue: hsl(234, 14%, 74%);
  --grayish-blue: hsl(233, 13%, 49%);
  --dark-grayish-blue: hsl(232, 13%, 33%);
  --base-font-size: 15px;
  --linear-gradient: hsl(236, 72%, 79%), hsl(237, 63%, 64%);
}



/* 2. */
.container {
  /* width: 100%; */
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  margin-top: 100px;
  /* align-items: center; */
}

/* 1. */
.cards-container {
  display: flex;
  justify-content: center;
  /* for second card height increase */
  align-items: center;
  width: 70%;
  /* margin: 0 auto; */
  /* top and bottom here 0 and right and left is
    auto adjust */
}

.card {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  justify-content: space-evenly;
  align-items: center;
  padding: 15px;
  background-color: white;
  border-radius: 7px;
  width: 200px;
  height: 300px;
}

.content {
  margin: 10px 0px;
  border-bottom: 1px solid var(--grayish-blue);
  padding-bottom: 15px;
  width: 100%;
  text-align: center;
  font-size: 10px;
  /* top  bottom right left */

}

.main-heading {
  text-align: center;
  margin-top: 60px;
  font-size: 40px;
}

.card-btn {
  border: none;
  border-radius: 2px;
  color: white;
  background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 700px;
  /* margin-right: 0px;
    margin-left: 0px; */
  /* margin: 0px; */
  /* margin-right: 0px; */
  /* margin-left: 0px; */

    /* padding-left: 0px;
    padding-right: 0px; */
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
  
  font-weight: 600;
  width: 100%;
}

.card > p {
  border-bottom: 1px solid var(--grayish-blue);
  
  
}

.center {
  background-color: hsl(237, 63%, 64%); 
  background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: white;
  /* center card width and height specify */
  width: 250px;
  height: 350px;
}

.center > .card-btn {
    background-image: none;
    background-color: white;
    color: hsl(237, 63%, 64%);
}

.bold-heading{
    border: none;
}

.card-price{
    font-size: 30px;
}


/* 2. */
